{erl_opts, [debug_info]}.
{lfe_first_files, []}.

{deps, [
    {'lfe', {git, "https://github.com/rvirding/lfe.git", {tag, "v1.2.1"}}},
    {'epcap', {git, "https://github.com/msantos/epcap.git", {branch, "master"}}}
]}.

{plugins, [
    {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.7.0"}}},
    {'lfe-repl', {git, "https://github.com/lfe-rebar3/repl.git", {tag, "0.3.0"}}}
]}.

{provider_hooks, [
  {pre, [{compile, {lfe, compile}}]}
]}.

{profiles, [
  {test, [
    {eunit_compile_opts, [
      {src_dirs, ["test", "src"]}
      ]},
    {deps, [
      {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.9.0"}}}]}
      ]},

  {doc, [
    {plugins, [
      {lodox, {git, "https://github.com/lfe-rebar3/lodox.git", {tag, "0.16.2"}}}
      ]}
    ]}
  ]}.
